<div class="container">
  <div class="row">
    <main class="col-md-12">
      <!-- Start your code here -->
      <br />
      <h1>Welcome to my website, this is the about page.</h1>
      <br />

      <h2>About me</h2>
      <p>
        This website is created by <b><i>Pulkit Yadav.</i></b> My student ID is
        <b><i>122260219.</i></b> I am currently enrolled in
        <b><i>DAD program</i></b> for Fall 2021 intake at Seneca college.
      </p>

      <!-- End your code here  -->
    </main>
  </div>
</div>
